<section class="banner-7 parallax-bg bg-fixed overlay fullscreen-banner valign-wrapper" data-stellar-background-ratio="0.5">
  <div class="valign-cell">
    <div class="container padding-top-160">
      <div class="text-center">
        <h1 class="tt-headline loading-bar">
          <!-- you can use "rotate-1", "letters type", "letters rotate-2", "letters rotate-3", "letters scale", "loading-bar", "slide", "clip is-full-width", "push" -->
          <span>We'r
          </span>
          <span class="tt-words-wrapper">
            <b class="is-visible">Materialize</b>
            <b>Minimalist</b>
            <b>Passionate</b>
          </span>
        </h1>

        <p class="sub-intro lead white-text">Smart, Modern and Unique</p>
        <a class="btn popup-video text-capitalize mt-30 waves-effect waves-light" href="https://www.youtube.com/watch?v=XVfOe5mFbAE">Watch Overview</a>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.valign-cell -->

</section>
