<!-- Preloader -->
<div id="preloader">
  <div class="preloader-position">
    <img src="<%= asset_path 'logo-colored.png' %>" alt="logo" >
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>
</div>
<!-- End Preloader -->
